# 0. Imports

In [16]:
import pandas as pd
import matplotlib.pyplot as plt

# 1. Loading Data

In [17]:
# This dataset was downloaded from WorldBank for each year befor WorldCup - https://databank.worldbank.org/
df_economic_raw = pd.read_csv('./datasets/WorldBankData.csv')

In [18]:
df_economic_raw.head()

,Country Name,Country Code,Series Name,Series Code,1993 [YR1993],1997 [YR1997],2001 [YR2001],2005 [YR2005],2009 [YR2009],2013 [YR2013],2017 [YR2017],2020 [YR2020]
0,Afghanistan,AFG,GDP (current US$),NY.GDP.MKTP.CD,..,..,..,6209137624.77181,12416161048.8412,20146404996.223,18753469630.2586,20116137325.8206
1,Afghanistan,AFG,"Population, total",SP.POP.TOTL,15816601,19357126,21606992,25654274,28394806,32269592,36296111,38928341
2,Afghanistan,AFG,Adjusted net national income per capita (curre...,NY.ADJ.NNTY.PC.CD,..,..,..,..,397.870876381663,573.372758018691,486.034777839794,475.620362308779
3,Albania,ALB,GDP (current US$),NY.GDP.MKTP.CD,1185315468.46295,2258513974.0968,3922100793.5403,8052073539.38058,12044208085.864,12776220507.0162,13019689336.6919,15131866270.5936
4,Albania,ALB,"Population, total",SP.POP.TOTL,3227287,3148281,3060173,3011487,2927519,2895092,2873457,2837849

# 2. Data Manipulation

In [19]:
df2 = df_economic_raw.drop('Series Code', axis=1)

In [20]:
df2.columns = ['Country Name', 'Country Code', 'Series Name', 'YR1993',
               'YR1997', 'YR2001', 'YR2005', 'YR2009',
               'YR2013', 'YR2017', 'YR2020']

In [21]:
def clean_series_name(row):
    if row['Series Name'] == 'GDP (current US$)':
        row['Series Name'] = 'GDP'
    elif row['Series Name'] == 'Population, total':
        row['Series Name'] = 'POP'
    elif row['Series Name'] == 'Adjusted net national income per capita (current US$)':
        row['Series Name'] = 'INC'
    
    return row['Series Name'] 

df2['Series Name'] = df2.apply(clean_series_name, axis=1)

In [22]:
df2

,Country Name,Country Code,Series Name,YR1993,YR1997,YR2001,YR2005,YR2009,YR2013,YR2017,YR2020
0,Afghanistan,AFG,GDP,..,..,..,6209137624.77181,12416161048.8412,20146404996.223,18753469630.2586,20116137325.8206
1,Afghanistan,AFG,POP,15816601,19357126,21606992,25654274,28394806,32269592,36296111,38928341
2,Afghanistan,AFG,INC,..,..,..,..,397.870876381663,573.372758018691,486.034777839794,475.620362308779
3,Albania,ALB,GDP,1185315468.46295,2258513974.0968,3922100793.5403,8052073539.38058,12044208085.864,12776220507.0162,13019689336.6919,15131866270.5936
4,Albania,ALB,POP,3227287,3148281,3060173,3011487,2927519,2895092,2873457,2837849
...,...,...,...,...,...,...,...,...,...,...,...
646,Zambia,ZMB,POP,8656484,9597610,10692197,11856244,13215142,14926551,16853608,18383956
647,Zambia,ZMB,INC,269.54931390764,329.494740263474,285.413389949501,482.072638671163,852.87106098667,1443.07899037018,1174.97105554392,754.990810569357
648,Zimbabwe,ZWE,GDP,6563813300,8529571600,6777384700,5755215200,9665793300,19091020000,17584890936.6523,18051170798.941
649,Zimbabwe,ZWE,POP,11092775,11653254,11923906,12076697,12526964,13350378,14236599,14862927
650,Zimbabwe,ZWE,INC,535.827092733707,633.248256487541,480.903425079138,349.913567560522,639.649822341247,1246.18275381994,1050.25307032437,985.101423189625

# 3. Saving into CSV

In [23]:
df2.to_csv('./datasets/WorldBankData.csv')